body {
    text-align: center;
}

header h1 {
    font-size: 8rem;
}

main {
    padding: 2% 0%;
}

section {
    font-size: 3rem;
    padding: 2% 0%;
}

footer {
    background-color: #375a7f;
}

#socials {
    font-size: 4rem;
}