body {
    text-align: center;
}

header h1 {
    font-size: 3rem;
}

main {
    padding: 5% 0%;
}

.pages img {
    height: 350px;
    width: 100%;
}

@media only screen and (min-width: 1024px) {
    .pages img {
        height: 400px;
        width: 100%;
    }
}

section {
    font-size: 3rem;
    padding: 2% 0%;
}

footer {
    background-color: #375a7f;
}

#socials {
    font-size: 4rem;
}